header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: #fff;
    padding: 0 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-weight: 600;
    font-size: 26px;
    color: #333;
}

header .navbar .menu li {
    position: relative;
    float: left;
    list-style: none;
}

header .navbar .menu li .item {
    padding: 20px;
    color: #333;
    display: block;
    font-size: 20px;
    transition: 0.3s;
}

header .navbar .menu li .item:hover {
    background: #333;
    color: #fff;
}

header .navbar .menu li ul {
    position: absolute;
    display: none;
    left: 0;
    width: 200px;
    background: #fff;
}

header .navbar .menu li ul li {
    width: 100%;
    background: #eee;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar .menu li:hover>ul {
    display: initial;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}



/* Media screen */
@media (max-width:991px) {
    header {
        padding: 20px;
    }

    header label {
        display: initial;
        font-weight: bold;

    }

    header .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        width: 100%;
        background: #fff;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: none;
    }

    header .navbar .menu li {
        width: 100%;
    }

    header .navbar .menu li ul {
        position: relative;
        width: 100%;
    }

    #menu-bar:checked~.navbar {
        display: initial;
    }



}