.img {
    width: 300px;
    border-radius: 20px;
    border: 4px solid #1db9b1;
    position: relative;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px 20px ;
    cursor: pointer;
}


.card {
    margin: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    border-bottom-right-radius: 30px;
    border: 4px solid #1db9b1;
    background: #fff;
    height: 430px;
}
.card:hover{
    transform: scale(1.05);

}

.card-box {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
}

.card-box .card-body {
    text-align: center;
    margin: 15px;
}

.card-box .link {
    position: static;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid;
    margin-top: 10px;
    border-radius: 10px;
    background: #1db9b1;
}

.card-box .link a {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    width: 100%;
}
.card-box .link a:hover{
    color: #333;
}
